.page {
  max-width: 1200px;
  min-width: 320px;
  /* height: 2000; */
  width: 100%;
  border: 1px red solid;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  overflow:hidden;
}