.slider__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    border: 1px red solid;
    min-height: 292px;
    height: 100%;
}