.price__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    margin-left: 22px;
}

@media screen and (max-width: 955px) {
    .price__text {
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) and (max-width: 614px) {
    .price__text {
     font-size: 12px
    }
}

