.header__menu {
  display: flex;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 955px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}