.information__tablet-container-text {
    max-width: 60%;
    width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 728px) {
    .information__tablet-container-text {
        margin-left: 5px;
    }
}

@media screen and (max-width: 601px) {
    .information__tablet-container-text {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}