.header__menu-tablet-link {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/* .header__menu-tablet-link:hover {
    color: #D22856;
    transition: 0.3s;
} */