.header__menu-tablet-header-wrapper {
    margin-left: 10px;
    /* margin-right: 43px; */
    width: 90%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
} 