.header__menu-tablet-close-button {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

.header__menu-tablet-close-button:hover {
    content: url(../../../images/closemenubtnRed.png);
    cursor: pointer;
    transition: 0.3s;
}
