.contacts__container {
    width: 100%;
    min-height: 271px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 7;
}

@media screen and (max-width: 450px) {
    .contacts__container {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}