.header__logo {
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 955px) {
  .header__logo {
    justify-content: flex-start;
    margin-left: 10px;
  }
}