.diagram__paragraph {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    margin-top: 27px;
    margin-bottom: 32px;
}

@media screen and (max-width: 955px) {
    .diagram__paragraph {
        font-size: 14px;
        line-height: 24px;
        max-width: 310px;
        margin-top: 24px;
        margin-bottom: 25px;
    }
}