.header__logo-img_hover:hover {
    cursor: pointer;
    content: url(../../../../images/header-logo-pink.svg);
    transition: 0.3s;
  }

  @media screen and (max-width: 955px) {
    .header__logo-img_hover:hover {
      content: url(../../../../images/logotype-red-tablet.svg);
      transition: 0.3s;
    }
  }

  @media screen and (max-width: 601px) {
    .header__logo-img_hover:hover {
      content: url(../../../../images/logotype-red-mobile.svg);
    }
  }