.intro__mobile-logo {
  display: flex;
  margin-top: 67px;
  justify-content: space-around;
}

@media screen and (max-width: 601px) {
  .intro__mobile-logo {
    width: 70%;
    margin-top: 32px;
  }
}