.price__slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 350px;
    margin-bottom: 0;
    transform: skew(0, 4.7deg);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 601px) {
    .price__slider {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .price__slider {
        max-width: 100%;
    }
}
