.information__text-tablet {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    text-align: start;
    margin-top: 24px;
    margin-bottom: 0;
}

@media screen and (max-width: 601px) {
    .information__text-tablet {
        text-align: center;
    }
}