.price__img-container {
    background-image: url(../../../images/hitribbon.svg);
    width: 74px;
    height: 74px;
}

@media screen and (max-width: 691px) {
    .price__img-container {
        width: 64px;
        background-position: 90%;
    }
}