.diagram__box {
  max-width: 940px;
  width: 100%;
  margin: -100px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 8;
}

@media screen and (max-width: 955px) {
  .diagram__box {
    background-color: #fff;
    padding-top: 50px;
  }
}
@media screen and (max-width: 728px) {
  .diagram__box {
    justify-content: flex-start;
  }
}

