.diagram__box {
  border: 1px red solid;
  max-width: 940px;
  width: 100%;
  margin: -100px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 8;
}