.information__phone-tablet-img_mobile {
    max-width: 268px;
    height: 547px;
    width: 100%;
    margin-top: 48px;
}

@media screen and (min-width: 601px) {
    .information__phone-tablet-img_mod {
      display: none;
    }
}