.slider__next {
    width: 22px;
    height: 41px;
    transition: 0.3s;
    margin-top: 20%;
    margin-right: 6%;
}

.slider__next:hover {
    cursor: pointer;
    content: url(../../../images/rightarrow06.svg);
    transition: 0.3s;
}

@media screen and (max-width: 955px ) {
    .slider__next {
        display: none;
    }
}