.header__menu-tablet {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 361px;
    background-color: #283645;
    flex-direction: column;
    margin-top: -361px;
}

@media screen and (max-width: 601px) {
    .header__menu-tablet {
        height: 321px;
        margin-top: -321px;
    }
}