.intro__button {
  background: transparent;
  border: 3px solid #FFF;
  border-radius: 29px;
  width: 300px;
  /* width: 100%; */
  height: 56px;
  margin-top: 30px;
  transition: 0.3s;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  color: #FFF;
  transition: 0.3s;
}

.intro__button:hover {
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0px 5px 7px rgba(1, 1, 1, 0.75);
  transition: 0.3s;
  cursor: pointer;
  color: #D22856;

}

@media screen and (max-width: 955px) {
  .intro__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 345px) {
  .intro__button {
    max-width: 280px;
  }
}