.diagram__number {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 120px;
    line-height: 163px;
    font-weight: 700;
    color: #D22856;
    
}

@media screen and (max-width: 955px) {
    .diagram__number {
        font-size: 96px;
    }
}