.header__menu-tablet-logo {
    max-width: 145px;
    width: 100%;
    height: 40px;
    transition: 0.3s;
}

.header__menu-tablet-logo:hover {
    cursor: pointer;
    content: url(../../../images/logotype-red-tablet.svg);
    transition: 0.3s;
}