.information__tablet-text-wrapper {
    border: 1px red solid;
    width: 100%;
    min-height: 96px;
    margin-top: 30px;
}

.information__tablet-text-wrapper:first-child {
    margin-top: 80px;
}

@media screen and (max-width: 601px) {
    .information__tablet-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}