.intro {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  height: 833px;
  background-image: url(../../images/back-desktop.png);
  margin-top: -110px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 955px) {
  .intro {
    max-height: 700px;
  }
}

@media screen and (max-width: 601px) {
  .intro {
    max-height: 800px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    max-height: 780px;
  }
}

