.information__title_mobile {
    font-size: 24px;
    line-height: 120%;
    width: 280px;
    display: flex; 
    text-align: center;
}

@media screen and (min-width: 601px) {
    .information__title_mobile {
        display: none;
    }
}