.diagram__timer {
    max-width: 298px;
    width: 100%;
    height: 345px;
    margin-top: 17px;
    position: relative;
    z-index: 8;
    background-image: url(../../../images/timer.svg);
    background-size: contain;
}

@media screen and (max-width: 955px) {
    .diagram__timer {
        width: 238px;
        height: 276px;
    }
}