.slider__box {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 688px;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}