.information__box {
    border: 1px red solid;
    max-width: 940px;
    width: 100%;
    min-height: 557px;
    height: 100%;
    transform: skew(0deg, 4.7deg);
    margin: -50px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 955px) {
    .information__box {
        display: none;
    }
}