@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__logo-img/header__logo-img.css);
@import url(../blocks/header/__logo-img/_hover/header__logo-img_hover.css);
@import url(../blocks/header/__menu-text/header__menu-text.css);
@import url(../blocks/header/__menu-text/_hover/header__menu-text_hover.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__content/intro__content.css);
@import url(../blocks/intro/__box/intro__box.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__button/intro__button.css);
@import url(../blocks/intro/__mobile-logo/intro__mobile-logo.css);
@import url(../blocks/intro/__mobile-logo/_img/intro__mobile-logo_img.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__phone/intro__phone-img.css);
@import url(../blocks/intro/__screen-img/intro__screen-img.css);

@import url(../blocks/information/information.css);
@import url(../blocks/information/__title/information__title.css);
@import url(../blocks/information/__content/information__content.css);
@import url(../blocks/information/__box/information__box.css);
@import url(../blocks/information/__phone-container/information__phone-container.css);
@import url(../blocks/information/__phone-img/information__phone-img.css);
@import url(../blocks/information/__phone-title/information__phone-title.css);
@import url(../blocks/information/__shadow/information__shadow.css);
@import url(../blocks/information/__phone-text/information__phone-text.css);
@import url(../blocks/information/__phone-screen/information__phone-screen.css);

@import url(../blocks/diagram/diagram.css);
@import url(../blocks/diagram/__box/diagram__box.css);
@import url(../blocks/diagram/__timer/diagram__timer.css);
@import url(../blocks/diagram/__fill/diagram__fill.css);
@import url(../blocks/diagram/__number/diagram__number.css);
@import url(../blocks/diagram/__text-box/diagram__text-box.css);
@import url(../blocks/diagram/__title/diagram__title.css);
@import url(../blocks/diagram/__paragraph/diagram__paragraph.css);
@import url(../blocks/diagram/__link/diagram__link.css);

@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__item/slider__item.css);
@import url(../blocks/slider/__text/slider__text.css);
@import url(../blocks/slider/__quotes/slider__quotes.css);
@import url(../blocks/slider/__name/slider__name.css);
@import url(../blocks/slider/__profession/slider__profession.css);
@import url(../blocks/slider/__box/slider__box.css);
@import url(../blocks/slider/__prev/slider__prev.css);
@import url(../blocks/slider/__next/slider__next.css);
@import url(../blocks/slider/__content/slider__content.css);

@import url(../blocks/price/price.css);
@import url(../blocks/price/__content/price__content.css);
@import url(../blocks/price/__table-wrapper/price__table-wrapper.css);
@import url(../blocks/price/__title-box/price__title-box.css);
@import url(../blocks/price/__title-box/_mod/price__title-box_mod.css);
@import url(../blocks/price/__table-box/price__table-box.css);
@import url(../blocks/price/__title/price__title.css);
@import url(../blocks/price/__cost/price__cost.css);
@import url(../blocks/price/__title-box/_alighn/price__title-box_alighn.css);
@import url(../blocks/price/__title-box/_flex/price__title-box_flex.css);
@import url(../blocks/price/__heat-container/price__heat-container.css);
@import url(../blocks/price/__img-container/price__img-container.css);
@import url(../blocks/price/__heat-text/price__heat-text.css);
@import url(../blocks/price/__text/price__text.css);
@import url(../blocks/price/__yes/price__yes.css);
@import url(../blocks/price/__table-box/_center/price__table-box_center.css);

@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__container/contacts__container.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/contacts/__box/contacts__box.css);
@import url(../blocks/contacts/__text-box/contacts__text-box.css);
@import url(../blocks/contacts/__text-box-title/contacts__text-box-title.css);
@import url(../blocks/contacts/__link/contacts__link.css);
@import url(../blocks/contacts/__map/contacts__map.css);
@import url(../blocks/contacts/__triangle/contacts__triangle.css);
@import url(../blocks/contacts/__vector/contacts__vector.css);
@import url(../blocks/contacts/__vector-red/contacts__vector-red.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__about/footer__about.css);
@import url(../blocks/footer/__nav-logo/footer__nav-logo.css);
@import url(../blocks/footer/__nav-logo-img/footer__nav-logo-img.css);
@import url(../blocks/footer/__about-text/footer__about-text.css);
@import url(../blocks/footer/__about-img/footer__about-img.css);
