.information__phone-tablet-img {
    max-width: 157px;
    height: 320px;
    /* width: 100%; */
}

@media screen and (max-width: 601px) {
    .information__phone-tablet-img {
        display: none;
    }
}