.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 405px;
    margin-bottom: 0;
}

@media screen and (max-width: 955px) {
    .slider {
        max-width: 96%;
        width: 100%;
        height: 349px;
    }
}

@media screen and (max-width: 725px) {
    .slider {
        height: 300px;
        margin-top: -68px;
        background-color: #fff;
    }
}