.information {
  border: 1px red solid;
  width: 100%;
  min-height: 955px;
  height: 100%;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 601px) {
  .information {
    margin-top: 400px;
  }
}

@media screen and (max-width: 500px) {
  .information {
    margin-top: 160px;
  }
}

@media screen and (max-width: 375px) {
  .information {
    margin-top: 150px;
  }
}