.diagram {
  width: 100%;
  min-height: 325px;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: -55px;
}

@media screen and (max-width: 955px) {
  .diagram {
    background-color: #fff;
    margin-top: -159px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    min-height: 225px;
  }
}

@media screen and (max-width: 601px) {
  .diagram {
    display: none;
  }
}