.intro__content {
  max-width: 1050px;
  height: 645px;
  width: 100%;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1064px) {
  .intro__content {
    margin-left: 10px;
    height: 600px;
  }
}

@media screen and (max-width: 955px) {
  .intro__content {
    max-height: 545px;
  }
}

@media screen and (max-width: 601px) {
  .intro__content {
    flex-direction: column;
    min-height: 665px;
    margin-left: 0;
    align-items: center;
  }
}
