.slider__text {
    /* Заголовок слайда */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #283645;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    border: 1px red solid;
    max-width: 688px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 955px) {
    .slider__text {
        max-width: 100%;
    }
}
