.intro__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 68px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 18px 0 0 -7px;
}

@media screen and (max-width:955px) {
  .intro__title {
    font-size: 40px;
    line-height: 48px;
  }
}